<style>
body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 400px;
}
div {
  height: 600px;
  background-size: cover;
  width:75%;
  margin: 5px 5px 5px;
  border-radius: 12px;
}
#aside {
    line-height: 30px;
    background-color:#eeeeee;
    width:20%;
    float:right;
    padding:5px; 
    Margin-top: -300px;
}
h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 150px;
  font-weight: 700;
  color: #aaaaaa;
  margin: 40px 0 0 0;
}
h2 {
  text-align: center;
  color: #bbbbbb;
  margin: 0px 200px 0px 40px;
}
ul {
      color: #aaaaaa;
      padding: 10px;
      position: relative;
      margin-top: 100px;
      text-align: justify
    }
li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 5px;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
  
.first{
  background-image: url("/elephantdiet/IMG_20150814_114958.jpg");
  background-position: center;
}
.second{
  background-image: url("/elephantdiet/IMG_20150901_172528.jpg");
  background-position: center;
}

@media (max-width:500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
}
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
}
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 40px;
    line-height: 24px;
  }
  small {
    font-size: 27px;
  }
}
</style>
